$heading-font-family: "iranSans";
$body-font-family: "iranSans";
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1440px,
);
$utilities: (
  float: false,
  "float:rtl": false,
  "float:ltr": false,
  overflow: false,
  overflow-x: false,
  overflow-y: false,
  padding: false,
  padding-x: false,
  padding-y: false,
  padding-top: false,
  padding-bottom: false,
  padding-left: false,
  padding-right: false,
  padding-start: false,
  padding-end: false,
  //   margin: false,
  margin-x: false,
  margin-y: false,
  margin-top: false,
  margin-bottom: false,
  margin-left: false,
  margin-right: false,
  margin-start: false,
  margin-end: false,
  negative-margin: false,
  negative-margin-x: false,
  negative-margin-y: false,
  negative-margin-top: false,
  negative-margin-bottom: false,
  negative-margin-left: false,
  negative-margin-right: false,
  negative-margin-start: false,
  negative-margin-end: false,
  display: false,
  "flex": false,
  "flex-direction": false,
  "flex-grow": false,
  "flex-shrink": false,
  "flex-wrap": false,
  //   "justify-content": false,
  "align-items": false,
  "align-content": false,
  "align-self": false,
  "order": false,

  // Border radius
  "rounded": false,
  "rounded-top": false,
  "rounded-end": false,
  "rounded-bottom": false,
  "rounded-start": false,
  "rounded-top-start": false,
  "rounded-top-end": false,
  "rounded-bottom-end": false,
  "rounded-bottom-start": false,

  // Border
  "border": false,
  "border-opacity": false,
  "border-top": false,
  "border-end": false,
  "border-bottom": false,
  "border-start": false,
  "border-style": false,

  // Text
  "text-align": false,
  "text-decoration": false,
  "white-space": false,
  "overflow-wrap": false,
  "text-opacity": false,
  "text-overflow": false,
  "typography": false,
  "text-transform": false,
  "font-weight": false,
  "font-italic": false,
  "text-mono": false,
  // Position
  "position": false,
  // Sizing
  "fill-height": false,
  "height": false,
  "width": false,
);
